.widget-scriptengineeditor {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.widget-scriptengineeditor-ParametersTextArea, .widget-scriptengineeditor-ScriptEngineTextArea {
  display: none;
  resize: none;
  font-size: 14px;
  font-family: monospaced;
  white-space: nowrap
}

.widget-scriptengineeditor-ParametersTextArea {
  flex: 1;
}

.widget-scriptengineeditor-ParametersMonaco {
  flex: 1;
}

.widget-scriptengineeditor-ResultParameter {
  width: 30%;
  font-size: 14px;
  font-family: monospaced;
}

.widget-scriptengineeditor-ScriptEngineTextArea {
  flex: 3;
}

.widget-scriptengineeditor-ScriptEngineMonaco {
  flex: 3;
}

.widget-scriptengineeditor-top10 {
  margin-top: 10px;
}

.widget-scriptengineeditor-label {
  font-size: 16px;
  font-weight: 600;
}

.widget-scriptengineeditor-run {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 40px;
  border-radius: 5px;
  background: #0094c8;
  display: inline-block;
  color: white;
  cursor: pointer;
}
.widget-scriptengineeditor-run:hover {
  background: rgb(29, 95, 144);
}
.widget-scriptengineeditor-run-disabled {
  background: gray;
  cursor: default;
}
.widget-scriptengineeditor-run-disabled:hover {
  background: darkgray;
}

.widget-scriptengineeditor-Result {
  font-size: 14px;
  font-family: monospaced;
}

.monaco-editor {
  border: solid 1px black;
}